CONFIG_ZMK_DISPLAY=y
CONFIG_ZMK_WIDGET_LAYER_STATUS=y
CONFIG_ZMK_WIDGET_BATTERY_STATUS=y
CONFIG_ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE=y
CONFIG_ZMK_WIDGET_OUTPUT_STATUS=y
CONFIG_ZMK_WIDGET_WPM_STATUS=y
CONFIG_PINCTRL=y

//MAYBE GO BACK TO
//If CONFIG_ZMK_DISPLAY is enabled, exactly zero or one of the following options must be set to y. The first option is used if none are set.
//CONFIG_ZMK_DISPLAY_STATUS_SCREEN_BUILT_IN //Use the built-in status screen
//CONFIG_ZMK_DISPLAY_STATUS_SCREEN_CUSTOM //Use a custom status screen

CONFIG_ZMK_WIDGET_WPM_STATUS=n
CONFIG_ZMK_SLEEP=n
#CONFIG_LVGL_USE_THEME_MONO=n