if SHIELD_SOFLEEGG_LEFT

config ZMK_KEYBOARD_NAME
    default "SofleEgg"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if HIELD_SOFLEEGG_LEFT || HIELD_SOFLEEGG_RIGHT

config ZMK_SPLIT
    default y

endif